<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Item</title>
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/stylesheet.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Item Name</h1>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <img src="../assests/placeholder.png" alt="Item Image">
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Item Description</h3>
                    </div>
                    <div class="panel-body">
                        Item content...
                    </div>
                </div>
            </div>
            <div class="input-group col-md-6">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" aria-label="Offer Price">
            </div>
        </div>
        <button type="button" class="btn btn-lg btn-primary">Buy Now</button>
    </div>
</body>
</html>